###############
## RC5.0 files
###############

# no need to save backup files when we are using git
*.bak

# we might end up needing these files, but for now don't track them
*.obj

# ingore whatever this is about
*.dat

##############
## Misc Files
##############

# gvim (windows) save backups
*~

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
